@keyframes LINE {
  0% { width: 12rem;}
  50% { width: 2rem;}
  100% { width: 12rem;}


}

@keyframes ICON {
  0%{width: 40px; height: 20px; margin-inline-start: -2rem; top: 0rem; }
  50%{width: 50px; height: 25px; margin-inline-start: 0rem; top: 1.13rem; transform: rotate(10deg);}
  
  100%{width: 40px; height: 20px; margin-inline-start: -2rem;  top: 0rem;}
}

@keyframes HOME {
    0%{
      opacity: 0%;
    }
    50%
    {
      opacity: 50%;
    }
    100%{
      opacity: 100%;
    }
  }
  .img-fluid
  {
    animation: HOME 0.5s forwards ease-in;
  }
  .navbar-brand
  {
    font-size: 36px;
font-family: "Newsreader";
font-weight: 700;
color: rgba(0, 0, 0, 1);
width: 160px;
/* height: ; */
  }
  .div {
  border-radius: 11px;
  background-color: #e5e5e5;
  display: flex;
  position: relative;
  top: -10px; z-index: -1;
  min-height: 111px;
  max-width: 364px;
  flex-direction: column;
  overflow: hidden;
}

  .container-fluid
  {
    width: fit-content;
    float: left;
  }
  nav{

    position: relative;
  overflow: hidden;
    /* overflow: hidden ; */
  }
  main{
    width: 90%;
height: 1024px; 
margin-left: auto;
margin-right: auto;
  }
  .page-heading,
.page-heading * {
  box-sizing: border-box;
  width: 100%;
}

.page-heading {
  background: #ffffff;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.no-item {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Light', sans-serif;
  font-size: 12px;
  line-height: 130%;
  font-weight: 300;
  position: absolute;
  left: 150px;
  bottom: 23px;
  
  display: flex;
  align-items: flex-end;
  justify-content: flex-start
}

.cart {
  color: #000000;
  text-align: left;
  font-family: 'Newsreader-Regular', sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start
}

.divider {
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px 0 0 0;
  height: 0px;
  position: absolute;
  right: 96px;
  left: 16px;
  bottom: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.premium_qu {
font-size: 20px;
font-family: "Inria Sans";
font-weight: 700;
color: rgba(0, 0, 0, 1);
width: 311px;
height: 24px;
}

.premium-qulity-soft-fabric,
.premium-qulity-soft-fabric * {
  box-sizing: border-box;
}

.premium-qulity-soft-fabric { 
  color: #000000;
  text-align: center;
  font-family: 'InriaSans-Bold', sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  position: relative;
  width: 311px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: ; */
  overflow: hidden;
}
.img-fluid
{
border-radius: 4px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px 2px 0px 2px;
  height: 483px;
  position: relative;
  object-fit: cover;
}

.pqsf-01 {
color: #000000;
text-align: center;
font-family: 'IstokWeb-Regular', sans-serif;
font-size: 16px;
line-height: 130%;
font-weight: 400;
position: relative;
width: 79px;
right: -5%;

height: 23px;}

._1899,
._1899 * {
  box-sizing: border-box;
}

._1899 {
  color: #000000;
  text-align: center;
  font-family: '-', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 126px;
  height: 33px;
  right: -72%;
  display: flex;
  align-items: center;
  justify-content: center
}

._1899-span {
  color: #000000;
  font-family: 'Jaldi-Regular', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
}

._1899-span2 {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
}

.Rectangle7
{
width: 35%;
 /* height: ; */
 padding: 1%;
  background: #D9D9D9; 
/* box-shadow: 4px 4px 4px; */
position: relative;
margin-left: 0%;
left: 31%;
 border-radius: 9px;
  border: 1px black solid; 
  /* filter: blur(2px) */
}

.BLACK
{
height: 20px;
       width: 20px;
       background: black;
       border-radius: 50%;
       display: inline-block;
}

._1899 {
  color: #000000;
  text-align: center;
  font-family: '-', sans-serif;
  font-size: 15px;
  line-height: 130%;
  font-weight: 400;
  position: relative;
  width: 126px;
  height: 33px;
  top: 15px;
  right: -75%;
  display: flex;
  align-items: center;
  justify-content: center
}

.list-group-item
{
margin-left: 5px;
margin-right: 5px;
}
.list-group
{
padding-top: 4px;
padding-bottom: 0 !important;
margin-left: 11.5% !important;
}





.summary,
.summary * {
  box-sizing: border-box;
    /* padding: 2%; */
    /* padding: 3%; */
} 

.summary {
  background: #fafaf5;
  border-radius: 24px;
   border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
   height: 395px;
 
}

.name {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 82px;
}


.qon {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 119px;
}

.tax {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 156px;
}

._2-00 {
  color: #000000;
  text-align: right;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  right: 24px;
  top: 156px;
}

.total {
  color: #000000;
  text-align: left;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 24px;
  top: 193px;
}

._33-43 {
  color: #000000;
  text-align: right;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  right: 24px;
  top: 190px;
}

.button {
  background: #426b1f;
  border-radius: 8px;
  padding: 10px 8px 10px 16px;
  height: 48px;
  position: absolute;
  right: 24px;
  left: 24px;
  bottom: 24px;
  cursor: pointer;
  overflow: hidden;
}

.place-order {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-SemiBold', sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: calc(50% - 33px);
  width: 181px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.icon {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  top: calc(50% - 16px);
  overflow: visible;
}

.rectangle-11 {
  background: #d9d9d9;
  width: 63px;
  height: 28px;
  position: absolute;
  left: 725px;
  top: 115px;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 4px;
  /* filter: blur(2px); */
}

.vector {
  width: 69px;
  height: 17px;
  position: absolute;
  left: 320px;
  top: 123px;
  overflow: visible;
}

._1 {
  color: #000000;
  text-align: center;
  font-family: 'Newsreader-Bold', sans-serif;
  font-size: 24px;
  line-height: 200%;
  font-weight: 700;
  position: absolute;
  left: 749.5px;
  top: 120px;
  width: 20px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center
}

.plus
{

POSITION: RELATIVE !IMPORTANT;
  TOP: 33.680%;
  LEFT: -3.5%;
font-size: 17px;
/* width: 1%;
height: 1%; */
}
.btn
{
border: 0;
padding: 0em 0.2rem ;
font-size: 13px;
margin-top: 2px;
}
.minus
{
margin-right: 6.1% !important;
top: 116px;
}
/* ------------------------------------------------------------------------------------------------------ */

.NAME_S
{
bottom: 10.2%;

float: inline-end;
left: 0 !important;
}


.QON_S
{
position: relative;
bottom: 8% ;
left: 35%;
}

.TAX
{
bottom: 7%;
left: 60%;

font-size: larger;

}

.TOTAL
{
bottom: 9%;
margin-right: 4%;
}
.w-50
{
width: 34%!important;
}

.OPT
{
position: relative;
float: inline-end;
}
.SLIST
{
float: inline-end;
bottom: 12%;
}
.bg *
{
background: #fafaf5;

}
.bi-arrow-right
{
position: relative;
right:3rem ;
top:1.4rem ;
}
@keyframes SHOWUP {
0% { opacity: 0; }
100%{opacity: 100%;}
}
.value
{
animation: SHOWUP 0.5s ease-in 0 1 forwards none;
}

/* ------------------------------------------------------------------------------------------------------ */

/* KEYFRAMES */
/* ------------------------------------------------------------------------------------------------ */














/* for small mobile  */

/* ------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 420px) {
    .premium-qulity-soft-fabric { 
  /* color: #000000;
  text-align: center; */
  font-family: 'InriaSans-Bold', sans-serif;
  /* font-size: 10px;
  line-height: 55%;
  font-weight: 700;
  position: absolute;
      right:-20%;
  width: 311px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center */

  
}


.btn-sm
{
font-size: 10px;  
}
.QON_S
{
left: 5%;
}
.Add420LISTS
{
width:60% !important;
}
.COD
{
  top: 5rem !important;
}

.FS
{
font-size: medium !important; 
margin-top: 0px !important;
}


._380px
{
width: 120% !important;


} 


.div
{
min-height: 64px;

/* height: 40px !important; */
}
.container-fluid
{
margin-left: 0px;
/* width: 75%; */
width: 75%;
}
.img-fluid
{

/* width: 75%; */
height: 75%;
/* height: 5%; */
}
.pqsf-01 {
color: #000000;
text-align: center;
font-family: 'IstokWeb-Regular', sans-serif;
font-size: 10px;
line-height: 25%;
font-weight: 400;
position: relative;
width: 79px;
right: 10px;
top: 40px;
height: 23px;

}
#Slist
{
padding: 0.1rem 0.5rem; 
margin-top: 0.3rem;
margin-right: 0rem;
}
._1899 {
  color: #000000;
  text-align: center;
  font-family: '-', sans-serif;
  font-size: 7px;
  line-height: 130%;
  font-weight: 700;
  position: relative;
  width: 45px;
  height: 33px;

  top: 10px;
  right: -74%;
  display: flex;
  align-items: center;
  justify-content: center
}
.Rectangle7
{
width: 50% !important;
left: 25% !important;
margin-top: -2% !important;
}
.list1
{
margin: 1% !important;
padding: 0;
}
.list2
{
margin-right: 0 !important;
}
.FSL
{
font-size: 7px;
margin-right:0 !important;
margin-left:2% !important;
}
.BLACK
{
/* padding: 0px !; */
height: 15px;
  width: 15px;
  /* margin-left: 2px; */
  margin-right: 0px;
}
.NAME_S
{
bottom:7.2%;
}
.TOTAL
{
margin-right: 
7%; 
}
.list-group
{
padding-bottom: 1rem;
}
  }

  /* ---------------------------------------------------------------------------------------------------------------------- */
  /* medium mobiile  */

  @media screen and (max-width: 376px){
    .premium-qulity-soft-fabric { 
  /* color: #000000;
  text-align: center; */
  font-family: 'InriaSans-Bold', sans-serif;
  /* font-size: 10px;
  line-height: 55%;
  font-weight: 700;
  position: absolute; */
      /* right:-20%;
    /*  float:LEFT;
  width: 311px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center */

  
}


._1899
{
  right: -70%;
}
.Rectangle7
{
  left: 31%;
width: 35% !important;


}
.list-group
{
padding-top: 2px;
padding-bottom: 0 !important;
margin-left: 7% !important;
}
.BLACK 
{
  height: 15px;
       width: 15px; 
       margin-left: 2px;
       margin-right: 2px;
}
}
.summary {
  background: #fafaf5;
  border-radius: 24px;
  /* border-style: solid;
  border-color: #e6e6e6;
  border-width: 2px;
  height: 350px;
  position: relative;
  overflow: hidden;
  width: 90%;
  float:left !important;
  bottom: -20px; */
  
}
.tax
{
font-size: 14px;

}
.Name{
left: -0.5rem;
  position: relative;
}
.name {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 82px;
}
.qon
{
font-size: 14px;

}

.premium-qulity-soft-fabric1 {
  color: #000000;
  text-align: right;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 12px;
  line-height: 130%;
  font-weight: 700;
  position: absolute;
  right: 24px;
  top: 82px;
}
.plus
{
    POSITION: RELATIVE !IMPORTANT;
  TOP: 33.680%;
  LEFT: -6.4%;
  font-size: 13px;
}
.minus
{
POSITION: RELATIVE !IMPORTANT;
  TOP: 33.680%;
  LEFT: -3.5%;
  font-size: 13px;
}
._1 {
  color: #000000;
  text-align: center;
  font-family: 'Newsreader-Bold', sans-serif;
  font-size: 17px;
  line-height: 200%;
  font-weight: 700;
  position: absolute;
  left: 217.9px;
  top: 120px;
  width: 20px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.place-order
{
font-size:18px;
}
/* ---------------------------------------------------------------------------------------- */
  /* lasrge mobile  */
  @media screen and (max-width:380px ) {
    .Rectangle7
{
  width: 55% !important;
  left: 34%;
}
  }

  @media screen and (max-width: 481px) {
.Rectangle7
{
  width: 35%;
  left: 34%;
}
.NAME
{

font-size: 0.8REM !important;
}

._1899 {
  color: #000000;
  text-align: center;
  font-family: '-', sans-serif;
  font-size: 7px;
  line-height: 130%;
  font-weight: 700;
  position: relative;
  width: 45px;
  height: 33px;

  top: 10px;
  right: -75%;
  display: flex;
  align-items: center;
  justify-content: center
}

.list-group
{
padding-top: 2px;
padding-bottom: 0 !important;
/* margin-left:auto; */
margin-right: auto;
}
.BLACK 
{
  height: 20px;
       width: 20px; 
       margin-left: 2px;
       margin-right: 2px;
}
  }
/* ------------------------------------------------------------------------------------------------ */
    
    
.BLACK {
       height: 20px;
       width: 20px;
       background-color: black;
       border-radius: 50%;
       display: inline-block;
   }

   .WHITE {
       height: 20px;
       width: 20px;
       background-color: white;
       border-radius: 50%;
       display: inline-block;
   }

   .GREY {
       height: 20px;
       width: 20px;
       background-color: GREY;
       border-radius: 50%;
       display: inline-block;
   }

   .GRADIANT {
       height: 20px;
       width: 20px;
       background: rgb(121, 90, 173);
       background: linear-gradient(90deg, rgba(121, 90, 173, 1) 0%, rgba(128, 153, 187, 1) 48%, rgba(97, 144, 67, 1) 100%);
       font-weight: 700;
       color: black;
       border-radius: 50%;
       display: inline-block;
   }

   .NAVY {
       height: 20px;
       width: 20px;
       background: NAVY;
       border-radius: 50%;
       display: inline-block;
   }

   .GREEN_BLACK {
       height: 20px;
       width: 20px;
       background: rgb(142, 235, 28);
       background: linear-gradient(0deg, rgba(142, 235, 28, 1) 0%, rgba(0, 0, 0, 1) 100%);
       border-radius: 50%;
       display: inline-block;
   }

   .WHITE_BLUE {
       height: 20px;
       width: 20px;
       background: rgb(41, 222, 214);
       background: linear-gradient(0deg, rgba(41, 222, 214, 1) 2%, rgba(255, 255, 255, 1) 50%);
       border-radius: 50%;
       display: inline-block;


   }

   .GREEN_BLACK {
       height: 20px;
       background: rgb(142, 222, 41);
       background: linear-gradient(0deg, rgba(142, 222, 41, 1) 13%, rgba(148, 162, 30, 1) 27%, rgba(0, 0, 0, 1) 65%);
       border-radius: 50%;
       display: inline-block;

   }

   .WHITE_BLACK {
       height: 20px;
       width: 20px;
       background: rgb(255, 255, 255);
       background: linear-gradient(0deg, rgba(255, 255, 255, 1) 13%, rgba(0, 0, 0, 1) 65%);
       border-radius: 50%;
       display: inline-block;
   }

   .GREY_SKYBLUE {
       height: 20px;
       width: 20px;
       border-radius: 50%;
       display: inline-block;


       background: rgb(192, 192, 192);
       background: linear-gradient(0deg, rgba(192, 192, 192, 1) 13%, rgba(112, 200, 245, 1) 65%);
   }

   .MULTI {

       height: 20px;
       width: 20px;
       border-radius: 50%;

       display: inline-block;

       background: rgb(112, 245, 214);
       background: radial-gradient(circle, rgba(112, 245, 214, 1) 0%, rgba(255, 186, 55, 1) 45%, rgba(240, 9, 9, 1) 100%);
   }      
    
    
    